# Default ignored files
/shelf/
/.idea/workspace.xml
*.iml
.attach*


# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/out
/data/*.json


# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
Example01MVP.iml

# Visual Studio Code
.vscode/*
.history/*

# System files
.DS_Store
Thumbs.db

